DEPENDANCES
Init.make
Makefile
aclocal.m4
autom4te.cache
config.status
libtool
pocolibs.pc
src/h2/h2
src/pocolibs-config.h
src/posterLib/posterServ/posterServ
src/posterLib/posterServ/posters.h
src/posterLib/posterServ/posters.x
src/posterLib/posterServ/posters_svc.c
src/posterLib/posters.h
src/posterLib/posters_clnt.c
src/posterLib/posters_xdr.c
src/shell/shell
.libs
*.la
*.lo
*.o
*~
